name: Run pre-commit hooks
on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
jobs:
  pre-commit-ci:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.12'
      - uses: pre-commit/action@v3.0.1
        with:
          extra_args: --all-files --verbose
