name: Run pre-commit hooks
on:
  push:
    branches: [master]
  pull_request:
    branches: [master]
jobs:
  pre-commit-ci:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.12'
      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo wget -O /bin/hadolint \
               https://github.com/hadolint/hadolint/releases/download/v2.10.0/hadolint-Linux-x86_64
          sudo chmod +x /bin/hadolint
      - uses: pre-commit/action@v3.0.1
        with:
          extra_args: --all-files --verbose
